<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仿百度登录页面</title>
    <link rel="stylesheet" href="static/app01/css/login_css.css">
</head>
<body>
<div class="main_div">
    <div class="login_head">
        <img src="static/app01/imgs/loginlogo.png">用户名密码登录
    </div>
    <div class="login_body1">
        <input class="text_input" type="text" name="username" value="" placeholder="手机/邮箱/用户名">
    </div>
    <div class="login_body1">
        <input class="text_input" type="text" name="password" value="" placeholder="密码">
    </div>
    <div class="login_body2">
        <input type="checkbox" value="">下次自动登录
    </div>
    <div class="login_body1">
        <input class="bu_login" type="submit" name="login" value="登录">
    </div>
    <div class="login_body3">
        <a id="a1" href="http://www.baidu.com">忘记密码?</a>
        <a id="a2" href="http://www.baidu.com">短信快捷登录</a>
    </div>
    <div class="login_foot">
        <a class="a3" style="float: left;" href="http://www.baidu.com">扫码登录</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
        <img class="a3" src="static/app01/imgs/qq.png">&nbsp;&nbsp;
        <img class="a3" src="static/app01/imgs/wechat.png">
        <a class="a3" style="float: right;"  herf="http://www.baidu.com">立即注册</a>
    </div>
</div>
</body>
</html>